# EAS Ignore
# This file is used by EAS CLI to determine which files to include in the build.
# We want to include these files in EAS builds even if they are gitignored.

!google-services.json
!trustpay-60a33-firebase-adminsdk-fbsvc-ed4a0e6f64.json
!.env.development
!.env.preview
!.env.production